<!-- Modal -->
<div class="modal fade" id="deleteRowConfirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color:#272727;">Weet je zeker dat je deze rij wilt verwijderen?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <button class="btn" style="background: #3CAAD7; color: white"
                data-dismiss="modal">Sluiten
                </button>
                <button class="btn" id="btnDelete" style="background: #D30E4C; color: white"
                data-dismiss="modal">Verwijderen
                </button>
            </div>
        </div>
    </div>
</div>