<nav class="navigation">
    <div class="nav_container">
        <a href="/index">
            <img src="/static/assets/ra_logo.png" alt="RAC logo"/>
        </a>
        <div class="links">
            {% if session["user_role"] != 1 %}
            <a href="/index">Home</a>
            <a href="/studenten_overzicht">Studenten</a>
            {% if session["user_role"] == 3 %}
            <a href="/docenten_overzicht">Docenten</a>
            {% endif %}
            <a href="/lessen_overzicht">Lessen</a>
            <a href="/klassen_overzicht">Klassen</a>
            <a href="/rapportage">Rapportage</a>
            {% endif %}
        </div>
        <div class="account">
            <div class="user">
                <span class="material-icons">person</span>
                <span class="loggedInUser"></span>
            </div>
            <a href="/logout">Uitloggen</a>
        </div>
    </div>
</nav>
